@import "../../scss/variables.scss";

.sunSet {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}

.arrow {
  padding: 0 5px;
}

.sunTime {
  margin: 7px 0;
  img {
    height: 25px;
    margin: 0 5px 0 15px;
  }
}
