@import "../../scss/variables.scss";

.tempBoxCont {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.minMaxTemp {
  font-size: $font-size-h5;
}
.perceivedTemp {
  font-size: $fontsize-label;
  font-weight: $fw-normal;
}
