@import "../../scss/variables.scss";

.forcastList {
  display: flex;
  flex-wrap: wrap;
}
.forecastItem {
  background-color: $color-4;
  width: 150px;
  padding: 10px;
  margin: 2px;
  border: 1px solid $color-3;
  border-radius: 10px;
}
