@import "../../../scss/variables.scss";

.forecastItem {
  // background-color: $color-4;
  color: $color-2;
  text-align: center;
  min-width: 120px;
  padding: 5px;
  margin: 5px;
  border-right: 1px solid $color-3;
  border-bottom-right-radius: 5px;
  // &:hover {
  //   box-shadow: 0 1px 3px $color-3;
  //   transform: scale(1.05);
  // }
}

.data {
  font-weight: $fw-bold;

  font-size: $font-size-h6;
}

.tempBox--forecast {
  p {
    font-weight: $fw-bold;
    font-size: $font-size-h5;
    margin-bottom: 0;
  }
}
.minMaxTemp--forecast {
  font-size: $font-size-h5;
  img {
    padding: 0 5px;
  }
}
.weatherIcon--forecast,
.windSpeed--forecast,
.airPressure--forecast {
  font-size: $font-size-h5;
  display: inline-block;
  img {
    width: 20px;
  }
  span {
    vertical-align: top;
  }
}
.weatherIcon--forecast {
  margin: 0 0 0 10px;
}
.windSpeed--forecast {
  img {
    width: 10px;
  }
  span {
    margin-left: $base-unit * 0.5;
  }
}
